logs/
outputs/
OLD/
trials/
pdb_downloads/
et
run_mpi_sophia.1.sh 
run_mpi_sophia.sh 
test_mpi.py
rfdiff_14.e3076085
rfdiff_14.o3076085
rfdiff.e3075984
rfdiff.o3075984
run_pipeline_full_newcdrs.py
run_parallel_node0.sh
run_parallel_node1.sh
run_mpi_double_long.sh
run_mpi_prod.sh
3hfm_outs/fixed_0.pdb
3hfm_outs/pred.model_idx_0.cif
3hfm_outs/pred.model_idx_0.pdb
3hfm_outs/pred.model_idx_1.cif
3hfm_outs/pred.model_idx_2.cif
3hfm_outs/pred.model_idx_3.cif
3hfm_outs/pred.model_idx_4.cif
3hfm_outs/scores.model_idx_0.npz
3hfm_outs/scores.model_idx_1.npz
3hfm_outs/scores.model_idx_2.npz
3hfm_outs/scores.model_idx_3.npz
3hfm_outs/scores.model_idx_4.npz
3hfm_outs/test.fasta
iedb_tables_pos_and_neg/heavy-cdr3_rank0.json
iedb_tables_pos_and_neg/heavy-cdr3_rank1.json
iedb_tables_pos_and_neg/heavy-cdr3_rank2.json
iedb_tables_pos_and_neg/heavy-cdr3_rank3.json
iedb_tables_pos_and_neg/heavy-cdr3_rank4.json
iedb_tables_pos_and_neg/heavy-cdr3_rank5.json
iedb_tables_pos_and_neg/heavy-cdr3_rank6.json
iedb_tables_pos_and_neg/heavy-cdr3_rank7.json
output_test_sim_imp/fixed_0.pdb
output_test_sim_imp/out_hmr.dcd
output_test_sim_imp/out.dcd
output_test_sim_imp/t14_0_0_1_start.dcd
output_test_sim_imp/t14_0_0_1_start.log
output_test_sim_imp/t14_0_0_1_start.pdb
split_cdrfile.py
t14_pdbs_save_loc.csv
3hfm_outs/3hfm_antigen.fasta
3hfm_outs/3hfm_energy.dat
3hfm_outs/3hfm_heavy.fasta
3hfm_outs/3hfm_light.fasta
3hfm_outs/3hfm.fasta
